<p>
  <mat-toolbar color="primary">
    <span>CNC Helper</span>

    <a mat-button routerLink="/profile">{{ 'navbar.profile' | translate:locale.language }}</a>
    <a mat-button routerLink="/logs">My logs</a>
    <a mat-button routerLink="/machines">Machines</a>

    
    <mat-button-toggle-group name="language" aria-label="Font Style" [(value)]="selectedLanguage" style="font-size: 14px; margin-left: auto;">
      <mat-button-toggle [value]="item.locale" (click)="setLocale(item.locale)" *ngFor="let item of schema">{{ item.text }}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-chip-list *ngIf="!isVerified && isLogged" class="ml-2">
      <mat-chip color="accent" selected>Not Verified</mat-chip>
    </mat-chip-list>
    

    <ul class="nav navbar-nav ml-2">
      <li *ngIf="isLogged" class="mx-auto">
        <button mat-button (click)="logOut()">{{ 'navbar.logout' | translate:locale.language }}</button>
      </li>
      <li *ngIf="!isLogged" class="mx-auto">
        <app-login class="ml-auto"></app-login>
      </li>
    </ul>
  </mat-toolbar>
</p>
